header{
        font-family: 'Staatliches', cursive; 
        font-size: xx-large; 
        height: 55px;  
        box-shadow: 20px 20px 80px 10px whitesmoke inset;
}

body {
    background: rgb(229, 228, 227);
    text-align: center;
    padding: 10px;
    font-family: 'Staatliches', cursive;
}

.border{
  margin: 5px;
  padding: 0px;
}

#logo{ height: 55px; float: left;}

.clear{clear: both;}

.white {background-color: transparent;}

section {height: auto; width: auto;}

.left{
  padding: 10px;
  background: rgb(114,127,181);
  background: linear-gradient(225deg, rgba(114,127,181,1) 28%, rgba(192,201,239,1) 73%);

}

nav{
    position: sticky;
    top: 3px;
    box-shadow: 20px 20px 80px 10px black inset;
    font-family: 'Staatliches', cursive;
    font-size: larger;
    height: 55px;
    margin: 3px;
    padding: 3px;
  }

h2{font-size: xx-large; color: black;}

p{
  color: black;
  font-weight: 500; 
  text-align: center; 
  font-family: 'DM Sans', sans-serif;
  line-height: 25px;
  padding: 35px;
}

a{text-decoration: none;}
a:hover{background-color: rgb(183,171,183);}
a:visited{color: #ffffff;}

li{display: inline;}

.picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mail{
  text-align: center;
  font-size: x-large;
  font-weight: 200;
  text-shadow:  5px 5px 10px orange;
}

footer{background-color: lightgray; box-shadow: 20px 20px 80px 5px black inset;}

.box{
  padding: 15px;
  
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 15px; 
  border: 2px solid whitesmoke; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 5px; 
  margin-bottom: 16px; 
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  text-align: left;
}